@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');
html { 
  overflow-y: auto!important
}
a{
  color: black;
}
.mar-t{
  margin-top: 80px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.main-container{
  /* background-image:  url(/public/imgs/b3.jpg); */
}

@media (min-width: 1920px){
  .v-container {
    max-width: 1200px!important;
  }
}


